@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-text-main bg-surface antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headings font-bold text-primary;
  }
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-light rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}
